/* GLOBAL */

:root {
  --black: hsl(0, 0, 0);
  --dark-gray-blue: hsl(217, 19%, 35%);
  --dark-blue: hsl(214, 17%, 51%);
  --gray-blue: hsl(212, 23%, 69%);
  --light-gray-blue: hsl(210, 46%, 95%);
}

* {
  box-sizing: border-box;
}

body {
  /* background-color: black; */
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  background-color: var(--light-gray-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

h1 {
  margin: 0;
  color: var(--dark-gray-blue);
  font-size: 1.05rem;
}

/* CONTAINER */

.container {
  max-width: 1000px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  margin: 4%;
  box-shadow: 0px 0px 25px 0 hsla(212, 23%, 69%, 0.15);
}

.container p {
  color: var(--dark-blue);
  line-height: 1.5;
  font-size: 14px;
}

/* CONTAINER IMAGE */

.img-container {
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}
.img-container img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 200px;
  /* transform: scale(1.0); */
}

/* CONTAINER CONTENT */

.content {
  margin: 10% 10% 3% 10%;
}

.author {
  height: 50px;
  display: flex;
  align-items: center;
}

.author-img {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  margin-right: 15px;
}

.author .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-right: 15px;
}

.author .author-name {
  font-weight: 700;
  margin-bottom: 5px;
}

.author .author-date {
  color: var(--gray-blue);
}

.share-btn {
  border-radius: 50px;
  background-color: var(--light-gray-blue);
  padding: 10px;
  margin-left: auto;
  font-size: 10px;
}

.share-btn img {
  width: 20px;
  margin: 0;
}

.share .share-btn {
  background-color: var(--dark-blue);
}

.share .share-btn svg path {
  fill: white;
}

.share {
  background-color: var(--dark-gray-blue);
  color: var(--gray-blue);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 5px;
  display: none;
  align-items: center;
}

.share,
.author {
  padding: 5% 10%;
  border-radius: 0 0 20px 20px;
  height: 80px;
  font-size: 10px;
}

.share h2 {
  margin-right: 15px;
}

.share .social-btn {
  margin-right: 10px;
}

.share.active {
  display: flex;
}

.author.active {
  display: none;
}

/* MEDIA QUERY */

@media (min-width: 800px) {
  .container {
    width: 100%;
    flex-direction: row;
    margin: 0 auto;
    margin-top: auto;
  }

  .container h1 {
    font-size: 24px;
  }

  .container p {
    font-size: 16px;
  }

  .img-container {
    border-radius: 20px 0 0 20px;
    flex-basis: 100%;
  }

  .img-container img {
    height: 100%;
  }

  .content {
    margin: 0;
  }

  .content-container {
    position: relative;
    flex-basis: 110%;
    padding: 4% 6% 3%;
  }

  .author {
    display: flex;
    margin-top: 40px;
    height: auto;
  }

  .author.active {
    display: flex;
  }

  .author.active .share-btn {
    background-color: var(--dark-blue);
  }

  .author.active .share-btn svg path {
    fill: white;
  }

  .author-name,
  .author-date {
    font-size: 15px;
  }

  .share {
    padding: 0;
    justify-content: center;
    height: 65px;
  }

  .share h2 {
    margin: 0 30px;
  }

  .share.active {
    position: absolute;
    bottom: 130px;
    left: 328px;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0 0 25px 0 hsla(217, 19%, 35%, 0.25);
  }

  .share.active::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid var(--dark-gray-blue);
    position: relative;
    top: 40px;
    right: calc(50% - 30px);
  }

  .share .share-btn {
    display: none;
    text-align: center;
  }

  .share .social-btn {
    margin: 0;
  }

  .share .social-btn:nth-child(-n + 3) {
    margin-right: 15px;
  }

  .share .social-btn img {
    width: 25px;
  }
  .share,
  .author {
    padding: 0;
  }

  .attribution {
    margin-top: auto;
    margin-bottom: 15px;
  }
}
